* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 300px;
  display: inline-block;
}
input {
  font-size: 22px;
  margin-right: 0;
  margin-left: 50px;
  width: 400px;
  display: inline-block;
  padding-right: 0;
  position: relative;
  bottom: 40px;
}
#label {
  font-size: 20px;
  border: 1px solid black;
  padding: 3px;
  position: relative;
  right: 4px;
  bottom: 40px;
}
.headerlinks {
  display: inline-block;
  font-size: 20px;
  position: relative;
  bottom: 40px;
  padding-left: 300px;
}
.headerlinks a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-left: 100px;
  padding: 10px;
}
hr {
  width: 80%;
  margin-left: 90px;
}

#mini-menu ul {
  list-style: none;
  font-size: 20px;
  margin-left: 90px;
  padding: 5px;
  padding-right: 20px;
  display: inline-block;
  width: 80vw;
}
#mini-menu ul li {
  padding-right: 1rem;
  float: left;
}
#talk {
  padding-right: 55vw;
}
p {
  margin-left: 90px;
  width: 80%;
  font-size: 20px;
  padding: 10px;
}
h2 {
  font-weight: normal;
}
.car-p {
  float: left;
}
.left-list,
.right-list {
  width: 40%;
  display: inline-block;
  text-align: left;

  padding: 10px;
  font-size: 20px;
}
.left-list {
  list-style: disc;
  margin-left: 150px;
}
.right-list {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  bottom: 20px;
}
#ordered-list,
#ref-list {
  width: 80%;
  margin-left: 120px;
  padding: 20px;
  font-size: 20px;
}
.ending-border {
  text-align: center;
  width: 80%;
  border: 1px solid black;
  margin: Auto;
}
.endings {
  background-color: rgb(187, 200, 237);
  width: 99%;
  text-align: center;
  margin: 5px;
}
.ending-heading {
  width: 80%;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  margin-top: 30px;
  color: #0b2774;
  margin-bottom: 150px;
}
